 .header {
     border-bottom: 1px solid #F5F5F5;
 }

 .container {
     width: 1200px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;
 }

 .hider-container {
     display: flex;
     align-items: center;
 }

 .list {
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .logo {
     margin-right: 93px;
     text-decoration: none;
     font-family: var(--secondary-font);
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color: var(--accent-color);
 }

 .site-list-item:not(:last-child) {
     margin-right: 50px;
 }
