body {
    margin: 0;
    font-family: 'Roboto';
    font-family: var(--main-font);
    background-color: var(--primary-white-color);
}

.list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}